/* COLOUR PALETTE

OPTION 2 - DEFAULT
012932 = black/green (grid)
016e78 = seagreen (background)
02abb7 = teal (border)
00f3d7 = tiffany green
9b425b = dusty pink
fb02af = fushia (etch)

OPTION 5 - TRADITIONAL
red
yellow
light grey
dark grey

OPTION 4 - RANDOMISED


OPTION 5 - GRADUAL

 */

html {
    box-sizing: border-box;
    height: 90vh;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

body,
.buttonContainer,
#gridContainer,
.popUp,
.innerPopUp,
#radioContainer {
    display: flex;
}

.buttonContainer,
.popUp,
.innerPopUp,
#radioContainer {
    justify-content: center; 
}

button, 
#gridBorder,
.innerPopUp,
#gridInner,
#colorInner,
input {
    border-radius: 4px;
}

.buttonContainer {
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    width: 196px;
}

button {
    border: 4px outset;
    font-size: 32px;
    font-weight: 500;
}

#toCenter {
    width: 196px;
}

#gridBorder {
    border: 8px ridge;
    margin: 0 auto;
    width: 792px;
}

#gridContainer {
    flex-wrap: wrap;
    height: 768px;
    margin: 4px;
    width: 768px;
}

.square {
    border: .5px solid;
    flex: auto;
    height: 48px;
    width: 48px;    
}

/* POP UP BOXES */

.popUp {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* how to make this go behind body element*/
    display: flex;
    align-items: center;
}

.popUp.open {
    opacity: 1;
    z-index: 999;
}

.innerPopUp {
    border: 5px outset;
    gap: 10px;
}

.innerPopUp,
#radioContainer {
    flex-direction: column;
    align-items: center;
    width: 260px;
}

#gridInner {
    height: 200px;
}

#gridInner,
#colorInner {
    border: 5px outset;
}

label,
input,
#form {
    font-size: 24px;
    font-weight: 500;
}

input {
    text-align: center;
}

#gridInput {
    width: 96px;
    height: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} /*removes default number counter thing*/

.closeButtons {
    flex-direction: row;
    gap: 6px;
}

.closeButtons button {
    width: 98px;
}

/* RADIO POPUP */

input[type=radio] {
    appearance: none;
    border: 1px inset;
    border-radius: 50%; 
    height: 13px;
    width: 13px;
}

#radioContainer {
    width: 116px;
    align-items: baseline;
}

.radioContainer {
    flex-direction: row;
}

#colorInner {
    height: 274px;
}

/* CUSTOM COLOURS */

/* CHECKLIST
body {
    background-color: ;
}

button {
    background-color: ;
    border-color: ;
    color: ;
}

#gridBorder {
    background-color: ;
    border-color: ;
}

.square {
    background-color: ;
    border-color: ;
}

.square.(colorScheme).etch {
    background-color: ;
}

.innerPopUp {
    background-color: ;
    border-color: ;
}

#gridInner,
#colorInner {
    background-color: ;
    border-color: ;
}

input {
    background-color: #xxxxxx99;
    border-color: ;
    color: ;
}

input:focus,
.radio:focus {
    outline-color: ;
}

input[type=radio] {
    background-color: #xxxxxx99;
    border-color: #00f3d7;
}

input[type=radio]:checked {
    background-color: ;
}

#form {
    color: ;
}
*/

/* blueDefault */

body.blueDefault {
    background-color: #016e78;
}

button.blueDefault{
    background-color: #02abb7;
    border-color: #00f3d7;
    color: #012932;
}

#gridBorder.blueDefault {
    background-color: #016e78;
    border-color: #00f3d7;
}

.square.blueDefault {
    background-color: #012932;
    border-color: #02abb7;
}

.square.blueDefault.etch {
    background-color: #fb02af;
}

.innerPopUp.blueDefault {
    background-color: #016e78;
    border-color: #00f3d7;
}

#gridInner.blueDefault,
#colorInner.blueDefault {
    background-color: #016e78;
    border-color: #00f3d7;
}

input.blueDefault {
    background-color: #01293299;
    border-color: #00f3d7;
    color: #fb02af;
}

input.blueDefault:focus,
.radio.blueDefault:focus {
    outline-color: #fb02af;
}

input[type=radio].blueDefault {
    background-color: #01293299;
    border-color: #00f3d7;
}

input[type=radio].blueDefault:checked {
    background-color: #fb02af;
}

#form.blueDefault {
    color: #012932;
}

/* traditional */
body.trad {
    background-color: #d30505;
}

button.trad {
    background-color: #d30505;
    border-color: #ffe100;
    color: #ffe100;
}

#gridBorder.trad {
    background-color: #d30505;
    border-color: #ffe100;
}

.square.trad {
    background-color: #c0bdbd;
    border-color: #5a5a5a;
}

.square.trad.etch {
    background-color: #797979;
}

.innerPopUp.trad {
    background-color: #d30505;
    border-color: #ffe100;
}

#gridInner.trad,
#colorInner.trad {
    background-color: #d30505;
    border-color: #ffe100;
}

input.trad {
    background-color: #d3050599;
    border-color: #ffe100;
    color: #ffe100;
}

#form.blueDefault {
    color: #ffe100;
}

/* random*/

 
