/* COLOUR PALETTE
OPTION 1 - NOT IN USE
001B7E = navy
0b4af9 = royal blue
02cefc = baby blue
3d103c = maroon
690759 = mauve
ed006c = fushia

OPTION 2 - DEFAULT
012932 = black/green (grid)
016e78 = seagreen (background)
02abb7 = teal (border)
00f3d7 = tiffany green
9b425b = dusty pink
fb02af = fushia (etch)

OPTION 5 - TRADITIONAL
red
yellow
light grey
dark grey

OPTION 4 - RANDOMISED


OPTION 5 - GRADUAL

 */

html {
    box-sizing: border-box;
    height: 90vh;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

body {
    background-color: #016e78;
    display: flex;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 196px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

button {
    background-color: #02abb7;
    color: #012932;
    border: 4px outset #00f3d7;
    border-radius: 4px;
    font-size: 32px;
    font-weight: 500;
}

#toCenter {
    width: 196px;
}

#gridBorder {
    border: 8px ridge #00f3d7;
    border-radius: 4px;
    width: 792px;
    margin: 0 auto;
    background-color: #016e78;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 768px;
    margin: 4px;
}

.square {
    background-color: #012932;
    border: .5px solid #02abb7;
    width: 48px;
    height: 48px;
    flex: auto;
}


/* KEEP FOLLOWING AT BOTTOM */

.popUp {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* how to make this go behind body element*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp.open {
    opacity: 1;
    z-index: 999;
}

.innerPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 200px;
    width: 260px;
    /* border-radius: 140px; */
    background-color: #016e78;
    border: 5px outset #00f3d7;
    border-radius: 4px;
}

label,
input {
    font-size: 24px;
    font-weight: 500;
}

input {
    width: 96px;
    height: 48px;
    border-radius: 4px;
    background-color: #01293299;
    border-color: #00f3d7;
    text-align: center;
    color: #fb02af;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline-color: #fb02af;
}

 
